.portfoliocontainer {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    }
    
    body {
      background-color: black;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-left: 1%;
      margin-right: 1%;
      padding-bottom: 0%;
    }
    
    .header {
      grid-area: header;
      text-align: center;
      margin-top: 1%;
      color: #fe651c;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      word-spacing: 10%;
      background-color: #313131;
      padding-bottom: 1.5%;
      padding-top: 1%;
      border-radius: 5px;
      margin-bottom: 0%;
    }
    
    .header:hover {
      color: white;
    }
    
    .navbar {
      display: flex;
      justify-content: space-evenly;
      margin: 0 10%;
    }

    .blah {
    line-height: 50%;
    }

    img {
      width: 100%;
      height: auto;


    }
    
    img:hover {
      opacity: 0.7;
  
  }

  #underline {
    color: #313131;
    text-decoration: underline;
    text-decoration-color: #fe651c;
    text-align: left;
    margin-left: 4.9%;
    padding-top: 0%;
    margin-top: 0%;
  }

  a {
    color: black;
  }

  a:hover {
    color: #fe651c;
    text-decoration-color: #fe651c;
  }
    
  .main {
      grid-area: main;
      background-color: #313131;
      padding-top: 8%;
      padding-bottom: 10%;
      border-radius: 5px;
      margin-top: 1%;
      margin-bottom: 0%;
    }

    .main h1 {
      color: white;
      font-family: "Lato", sans-serif;
      text-align: left;
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 19px;
      margin-left: 4.9%;
      padding-bottom: 0%;
    }


    .col {
      background-color: #313131;
      padding-bottom: 3%;
    }
  
   








      /* below, small screens, laptops */

@media (min-width: 769px) {
    .portfoliocontainer {
      display: grid;
      grid-template-areas:
        "header header header"
        "main main main"
        "main main main";
    }

    body {
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 0%;
      padding-bottom: 0%;
    }
  
    .header {
      font-size: 16px;
      word-spacing: 0%;
      padding-bottom: 0%;
      padding-top: 0%;
      border-radius: 5px;
      margin-bottom: 0%;
      margin-top: 1%;
      
    }
  
    .main {
      margin-bottom: 1%;
      padding-top: 3%;
    }
  
    .main h1 {
      margin-top: 0%;
      padding-top: 0%;
     
      text-align: center;
    }
  
    #underline {
      
      text-align: center;
    }    
}





@media (min-width: 1025px) {
    .portfoliocontainer {
      display: grid;
      grid-template-areas:
        "header header header"
        "main main main"
        "main main main";
    }
  
  
    .header {
      padding-top: .4%;
      padding-bottom: 0.2%;
      margin-bottom: 0%;
      margin-top: 0.5%;
    }
  
    .main {
      margin-top: 0.5%;
      padding-bottom: 5%;
      
    }

    .main h1 {
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
    
      }

      #underline {
        margin-left: 0%;
        margin-right: 0%;
      }  
      
  
      .col {
        background-color: #313131;
        padding-bottom: 0%;
        padding-top: 0%;
        margin-top: 5%;
      }

}